*.exe
*.lib
*.a
*.dll
*.spv
*.so
*.bsp
*.zip
*.bin
*.properties
*.probe
*.lock
*.vmt
*.jpg
*.png
*.psd
*.fbx
*.vmx
*.pdb
*.cache
*.suo
*.v2
.suo
*.gltf
*.ini
*.dtbcache.v2

Epsilon

/.idea
/.vscode
/.vs
/build
/out
/CMakeFiles
/assets/models/hl2
/assets/models/portal
/assets/textures
/assets/sound
/modules/dotnet/lib
/docs
/modules/mono/test
cmake-build-debug-coverage/
cmake-build-release/
/assets/scripts/Game
/assets/scripts/editor/bin
/assets/scripts/editor/obj
/assets/scripts/editor/assemblies
/assets/scripts/editor/Properties
/assets/scripts/editor/.vs
/assets/scripts/common/bin
/assets/scripts/common/obj
/assets/scripts/common/assemblies
/assets/scripts/common/Properties
/assets/scripts/common/.vs

CMakeSettings.json
assets/shaders/fragment.spv
modules/dotnet/lib/EpsilonNET.csproj
modules/dotnet/lib/Program.cs
modules/dotnet/common/obj/x64/Debug/net8.0/common.sourcelink.json
modules/dotnet/common/obj/x64/Debug/net8.0/common.AssemblyInfo.cs
modules/dotnet/EpsilonSharp/obj/x64/Debug/net8.0/EpsilonSharp.sourcelink.json
modules/dotnet/EpsilonSharp/.vs

projects
thirdparty