# Compiled files
*.o
*.so
*.exe
*.jar
*.sln
*.lib
*.log
*.pdb
*.idb
*.exe.metagen
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.db
*.a

# Directories
/bin/Debug
/bin/Release/materials
/bin/Release/models
/bin/Release/maps
/bin/Release/sound
/bin/Release/resources
/bin/Release/ambient
/bin/Release/*.exe
/bin/Release/*.dll
/bin/Release/*.log
/creator
/lib

/.vs

/obj

# Specific Files
Epsilon.code-workspace
