#include <windows.h>

ICONO  ICON   "epsilon.ico"
ICONO1  ICON   "epsilon.ico"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

VS_VERSION_INFO    VERSIONINFO
  FILEVERSION      1,0,0,1
  PRODUCTVERSION   1,0,0,1
  FILEFLAGSMASK    0x3fL // VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
  FILEFLAGS        0x1L  // VS_FF_DEBUG|VS_FF_PRIVATEBUILD|VS_FF_PRERELEASE
#else
  FILEFLAGS        0x0L  // final version
#endif
  FILEOS           VOS_NT_WINDOWS32
  FILETYPE         VFT_APP
  FILESUBTYPE      VFT2_UNKNOWN // not used
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904E4" // Lang=US English, CharSet=Windows Multilingual
    {
      VALUE "Build",            "March 2015\0"
      VALUE "Comments",         "DDS Viewer by Survtech Software.\0"
      VALUE "CompanyName",      "Survtech\0"
      VALUE "Developer",        "Imanol Fotia\0"
      VALUE "FileDescription",  "DDS Viewer by Survtech Software.\0"
      VALUE "FileVersion",      "1.0.000\0"
      VALUE "InternalName",     "DDS Viewer\0"
      VALUE "LegalCopyright",   "Copyright (C) 2015 Imanol Fotia\0"
      VALUE "LegalTrademarks",  "All rights reserved.\0"
      VALUE "OriginalFilename", "ddsLoader.exe\0"
      VALUE "PrivateBuild",     "\0"
      VALUE "ProductName",      "DDS Viewer\0"
      VALUE "ProductVersion",   "1.0.000\0"
      VALUE "SpecialBuild",     "\0"
      VALUE "Support",          "www.survtech.wix.com/survtech\0"
      VALUE "Users",            "Unlimited.\0"
    } // BLOCK "040904E4"
  } // BLOCK "StringFileInfo"
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x409, 1252 // 1252 = 0x04E4
  } // BLOCK "VarFileInfo"
}
